* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* .choice-btn-container {
    
} */

.main-container {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scores {
    display: flex;
    text-align: center;
    border: 1px solid blue;
}

.choice-btn {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.play-again-btn {
    width: 200px;
    height: 75px;
    cursor: pointer;
}

header {
    text-align: center;
    padding: 2em 0;
    background-color: rgb(243, 242, 211);
}
